doctype
head
	title Sample Page
	meta(charset="utf-8")
	link(rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-purple.min.css")
	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")
	script(src="https://code.jquery.com/jquery-1.11.3.min.js")
	script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="js/search.js")
body.mdl-color--grey-100.mdl-color-text--grey-700
	.mdl-layout.mdl-layout--fixed-header.mdl-js-layout
		header.mdl-layout__header.mdl-color--primary
			.mdl-layout__header-row
				.mdl-layout-title Wikipedia Search
		main.mdl-layout__content.__w1200
			form#form.__pad300
				.mdl-grid
					.mdl-cell.mdl-cell--3-col-desktop
					.mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--6-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-textfield--floating-label
						input(type="text", id="wiki-inp_s").mdl-textfield__input
						label(for="wiki-inp_s").mdl-textfield__label Что ищем?
						span.mdl-textfield__error Введите что-то
				.mdl-grid
					.mdl-cell.mdl-cell--3-col-desktop
					input(type="submit", value="Отправить").mdl-button.mdl-js-button.mdl-button--raised.mdl-cell.mdl-cell--6-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-js-ripple-effect.mdl-button--primary
				.mdl-grid
					.mdl-spinner.mdl-js-spinner.mdl-spinner--single-color
			.nothing_find.__display_n
				.mdl-grid
					.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone 
						h2 Ничего не найдено, попробуйте поискать что-то другое
			.search_results
				.mdl-grid